<div class="d-flex wrapper">

  <div class="bg-black border-right sidebar-wrapper d-flex">
    <div class="sidebar-heading my-3">
      <img src="./../assets/img/logo.png" alt="" class="logo mx-auto d-block">
    </div>
    <div class="sidebar">
      <ul class="list-unstyled d-flex flex-column justify-content-center">
        <li class="my-2">
          <img src="./../assets/img/dashboard.svg" alt="" class="icon mx-auto d-block">
          <p>Personagens</p>
        </li>
        <li class="my-2">
          <img src="./../assets/img/personagens.svg" alt="" class="icon mx-auto d-block">
          <p>Personagens</p>
        </li>
        <li class="my-2">
          <img src="./../assets/img/nave.svg" alt="" class="icon mx-auto d-block">
          <p>Personagens</p>
        </li>
        <li class="my-2">
          <img src="./../assets/img/planetas.svg" alt="" class="icon mx-auto d-block">
          <p>Personagens</p>
        </li>
      </ul>
    </div>
  </div>

  <!-- Page Content -->
  <div class="page-content-wrapper">
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </div>

</div>