<div class="animated fadeIn">
  <div class="row my-4 d-flex justify-content-center">
    <div class="col-10 mx-auto">
      <div class="row">
        <div class="col-12">
          <form #filterForm="ngForm" (ngSubmit)="filterPersons(filterForm.value)">
            <div class="row">
              <div class="col-md-5 col-sm-5 col-12">
                <label class="font-white" for="name">Nome</label>
                <input type="text" class="form-control" placeholder="Nome" ngModel name="name" id="name">
              </div>
              <div class="col-md-2 col-sm-2 col-3">
                <label class="font-white" for="gender">Gênero</label>
                <select class="form-control" id="gender" ngModel name="gender">
                  <option value="" selected>Todos</option>
                  <option value="male">Homem</option>
                  <option value="female">Mulher</option>
                  <option value="n/a">N/A</option>
                </select>
              </div>
              <div class="col-md-2 col-sm-2 col-3">
                <label class="font-white" for="skin_color">Cor da Pele</label>
                <input type="text" class="form-control" placeholder="Cor da Pele" ngModel name="skin_color"
                  id="skin-color">
              </div>
              <div class="col-12 d-flex justify-content-end">
                <button type="submit" class="btn btn-square btn-danger mr-2">Filtrar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="col-10 mt-5 mx-auto">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <p-table [value]="peoples" class="table table-striped" [paginator]="true" [rows]="10"
              [showCurrentPageReport]="true" currentPageReportTemplate="Total de Registros: {{totalRecords}}">
              <ng-template pTemplate="header">
                <tr>
                  <th>Personagem</th>
                  <th>Filmes</th>
                  <th>Ano de Nascimento</th>
                  <th>Planeta Natal</th>
                  <th>Espécie</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-people>
                <tr>
                  <td>{{people.name}}</td>
                  <td>{{people.films}}</td>
                  <td>{{people.birth_year}}</td>
                  <td>{{people.homeworld}}</td>
                  <td>{{people.species}}</td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>